div.is-author img {
    width: 32px;
    margin: 2px;
}

div.is-author a {
    text-decoration: none;
    color: #000;
    padding-left: 5px;
}

div.is-author {
    width: 250px;
    display: flex;
    align-items: center;
}
