[tooltip]:before {            
    position : absolute;
     content : attr(tooltip);
     opacity : 0;
}

[tooltip]:hover:before {        
    opacity : 1;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* from: https://stackoverflow.com/questions/7117073/how-to-add-a-tooltip-to-a-div */
