div.is-message {
    display: flex;
    flex-direction: column;
}

div.is-message-head {
    display: flex;
    flex-direction: row;
}

div.is-message-head > span {
    flex: 1 1 auto;
    padding: 10px;
}

span.is-timestamp {
    text-align: right;
}

div.is-veil-toggle {
    font-size: 10px;
    color: lightgrey;
    padding: 2px;
}

div.is-veil-toggle:hover {
    cursor: pointer;
}


div.is-message-body {
    display: flex;
    flex-direction: row;
}

div.is-raw-message {
    background-color: lightgrey;
    padding: 50px;
}

pre {
    white-space: pre-wrap;
   
}

code {
    overflow-x: scroll;
    width: 100%;
}


div.is-message-footer {
    display: flex;
    flex-direction: row;
}


div.is-message-footer > div {
    flex: 1 1 auto;
    padding: 10px;
}

div.is-message-actions {
    display: flex;
    justify-content: end;
}

div.is-message-actions > a {
    padding-left: 10px;
}


div.is-message-meta {
    display: flex;
    justify-content: start;
}

div.is-message-meta > a {
    padding-right: 10px;
}

