/* Synth Midnight Dark by Michaël Ball (http://github.com/michael-ball/) */

:root {
  --base00: #040404;
  --base01: #141414;
  --base02: #242424;
  --base03: #61507A;
  --base04: #BFBBBF;
  --base05: #DFDBDF;
  --base06: #EFEBEF;
  --base07: #FFFBFF;
  --base08: #B53B50;
  --base09: #E4600E;
  --base0A: #DAE84D;
  --base0B: #06EA61;
  --base0C: #7CEDE9;
  --base0D: #03AEFF;
  --base0E: #EA5CE2;
  --base0F: #9D4D0E;
}
