<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share on Scuttlebutt</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" -->
        <!-- crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="style.css">
    <script defer src="app.js"></script>
</head>
<template id="success-post-notification">
    <div class="notification is-primary">
        <button class="delete"></button>
        <p>You posted succesfuly to scuttlebutt. The link to your post is
            <a id="post-link" href="smblink">smblink</a>.</p>
    </div>
</template>

<template id="error-post-notification">
    <div class="notification is-danger">
        <button class="delete"></button>
        <p>There was an error with your post!</p>
        <p id="error-content"></p> 
    </div>
</template>

<body>
    <div class="section">
        <div class="container is-fluid">
            <p class="content">This will create a
                <i>new post on scuttlebutt</i>, this action can't be undone.</p>
            <div id="notification"></div>
            <div class="field">
                <label class="label">Channel</label>
                <div class="control">
                    <input class="browser-style" id="channel">
                </div>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea browser-style" id="content" rows=12></textarea>
                </div>
            </div>

            <button class="browser-style" id="publish">Share on Scuttlebutt</button>
        </div>
    </div>
</body>

</html>