div.space {
  flex: 1 1 auto;
}
div.feed {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-content: center;
  margin: 0 auto;
  div.thread {
    border: solid 1px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    div.message {
      display: flex;
      flex-direction: column;
      border-bottom: solid 1px black;
      padding-bottom: 15px;
      margin-bottom: 15px;
      div.message-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;

      }
    }
    div.full-thread-banner {
      text-align: center;
    }
    div.message:last-of-type {
      border: none;
    }
  }
}
