form#setup {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-content: center;
  margin: 0 auto;
}

div#setup-test {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-content: center;
  margin: 0 auto;
}