@tailwind base;
@tailwind components;
@tailwind utilities;


img.is-image-from-blob {
    max-width: 100%;
    display:block;
    margin:auto;
    padding: 5px;
}

a.image-link {
    display: block;
    width: 100%;
}


.blured img {
    filter: blur(20px) !important;
}

figure.avatar {
    width: unset !important;
}

.blured img {
filter: blur(20px) !important;
}

.blured {
border: solid 2px red;
}

.raw-content {
width: 50%;
}

.private {
border: solid 2px orange;
}

.blur img {
filter: blur(20px) !important;
}

.blur {
border: solid 2px red;
}

.border {
border: solid 2px orange;
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 4;
      column-gap: 1.5em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

 .clickable:hover {
  cursor: pointer;
}

.menu-right {
  right: 0px;
  left: unset;
  min-width: 300px;
}

div img.is-image-from-blob {
  max-width: 90%;
}

.card-body {
  overflow-wrap: break-word;
}

.hide-overflow {
  overflow: hidden;
}

.join-room.code {
    border-radius: 5px; 
    border: 1px solid #BCBEC0;
    padding: 2px;
    font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
}

.extra-actions {
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid 1px lightgray;
}

 .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.package {
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-title {
  text-transform: capitalize;
}

.package-icon img {
  width: 42px;
}
