<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Patchfox Popup</title>
  <link rel="stylesheet" href="popup.css">
    <script defer src="popup.js"></script>
</head>

<body>
  <section class="section">
      <aside class="menu">
        <ul class="menu-list">
          <li>
            <a href="#" id="trigger-compose-window">compose</a>
          </li>
          <li>
            <a href="#">public</a>
          </li>
          <li>
            <a href="#">private</a>
          </li>
          <li>
            <a href="#">mentions</a>
          </li>
          <li>
            <a href="#">profile</a>
          </li>
          <li>
            <a href="#">settings</a>
          </li>
        </ul>
      </aside>
  </section>
</body>

</html>