body {
    font-family: caption, sans-serif
}

.Message {
    padding: 20px;
    border-bottom: 1px solid #EEE;
    position: relative;
}

.Message>header.author {
    font-weight: bold;
}

.Message.-mini {
    display: flex;
}

.Message.-mini>* {
    margin-right: 5px;
}

.Message>section.meta {
    position: absolute;
    right: 20px;
    top: 20px;
}

.Message>section.actions>a {
    margin-right: 5px
}

p > a > img {
  max-width: 80%;
}

.Markdown .emoji {
  max-height: 16px;
}
