.card-body.svelte-1ftdgav{overflow-wrap:break-word}
pre.code.svelte-mp70wj{overflow:scroll}
.blured.svelte-1jn1wek img.svelte-1jn1wek{filter:blur(20px) !important}.blured.svelte-1jn1wek{border:solid 2px red}.feed-display.svelte-1jn1wek{cursor:pointer}.channel-display.svelte-1jn1wek{cursor:pointer}.menu-right.svelte-1jn1wek{right:0px;left:unset;min-width:300px}.private.svelte-1jn1wek{border:solid 2px orange}
.file-on-top.svelte-olsuyr{border:solid 2px rgb(26, 192, 11)}input[type="file"].svelte-olsuyr{display:none}
.channel.svelte-1or0a5q{cursor:pointer}
.filter.svelte-1e0jkdi{height:300px;margin-bottom:0.4rem;overflow:hidden}.feed.svelte-1e0jkdi{max-width:100%;overflow:hidden}
.blocker.svelte-14egiim{height:70px;display:block}.above.svelte-14egiim{z-index:99999;width:100;padding:5px;position:fixed}.current.svelte-14egiim{border:none;background:none;border-bottom:solid 2px rgb(2, 146, 50);outline:none}
.reduced-line-length.svelte-1mwu09k{max-width:840px;margin:auto}
